.DS_Store
/.build
.module-cache
*.app/
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.cache/
check_devices
.test_runner
